.App {
  background-color: white;
  padding: 12px;
  font-family: 'Quicksand', sans-serif;
  overflow: scroll;
  height: 500px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.result-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 5px;
  padding: 12px;
  width: 50px;
}

.credibility-bars {
  text-align: center;
  color: white;
}

.link-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 12px;
}

.link-card:hover {
  background-color: #eaf4f4;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
